.center {
  margin-top: -20vh;
}

body {
  background: rgb(149, 143, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 169, 143) 0%,
    rgb(157, 146, 255) 35%,
    rgb(255, 157, 96) 100%
  );
}

.headlogo {
  width: 174vh;
  height: 2vh;
  background: rgb(255, 255, 255);
  padding: 7vh;
  margin-top: -22em;
  margin-bottom: 2em;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.lead {
  height: 50vh;
  width: 20vw;
  background: rgba(255, 255, 255, 0.2);
  padding: 50px;
  margin-top: -0em;

  margin-left: 35%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.151);
}

.leadlogo {
  margin-top: -22em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-anchor: start;
  color: aquamarine;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.13);
  text-decoration: underline;
}
.leadlogo:hover {
  color: rgb(255, 186, 97);
}
#myImage {
  margin-top: -30em;
  margin-left: 216%;
  align-self: center;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
#clicky {
  margin-top: -6.5em;
  margin-left: 44%;
  font-size: 80px;
  text-anchor: start;
  position: relative;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.349);
  display: inline-block;
  width: 100px;
  text-align: right;
}

.upgrade {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: -40em;
  margin-left: 71%;
  display: inline-block;
}
.upgrade .img-top {
  position: absolute;
  display: none;
  margin-top: -0em;
  margin-left: -7.5em;
}
.upgrade:hover .img-top {
  display: inline;
}
#bunnycost {
  margin-top: -27vw;
  margin-left: 72vw;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.219);
  width: 100%;
  font-size: 25px;
  display: inline-block;
}

@media only screen and (max-width: 500px) {
  .center{margin-left: -30%;
    margin-top: -55%;}
  .headlogo{margin-left: -10%;
    margin-top: -99%;}
  .lead{
    width: 35% ;
    margin-left: 15%;
  }
  .leadlogo{display: none;}
  #myImage{margin-left: 2%;
    margin-top: -100%;
    width: 50%;}
  #clicky{margin-left: 32%;}
  .upgrade{margin-top: 10%;
  margin-left: 32%;}
  #bunnycost{margin-top: 10%;
    margin-left: 45%;


  }
}
  
