.center {
  margin-top: -20vh;
  margin-top: -20vh;
}

body {
  background: rgb(149, 143, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 169, 143) 0%,
    rgb(95, 78, 255) 35%,
    rgba(255, 112, 24, 1) 100%
  );
}

.headlogo {
  width: 174vh;
  height: 2vh;
  background: rgb(255, 255, 255);
  padding: 7vh;
  margin-top: -21em;
  margin-bottom: 2em;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.lead {
  height: 50vh;
  width: 20vw;
  background: rgba(255, 255, 255, 0.2);
  padding: 50px;
  margin-top: -0em;

  margin-left: 70%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.151);
}

.leadlogo {
  position: sticky;
  object-fit: cover;
  align-self: flex-start;
  height: auto;
  margin-top: -45rem;
  margin-left: 63em;
  max-height: -45rem;
}

.click {
  height: 420px;
  width: 420px;
  background: rgba(255, 255, 255, 0.15);
  padding: 50px;
  margin-top: -33%;
  margin-left: 7%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.15);
}

.clickme {
  margin-top: -21%;
  margin-left: 7.5%;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#clicky {
  font-size: 80px;
  text-anchor: start;
  position: relative;
  top: -500px;
  right: -295px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.349);
  display: inline-block;
  width: 100px;
  text-align: right;
}
#usrn {
  font-size: 40px;
  text-anchor: start;
  position: relative;
  top: -600px;
  right: -1100px;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.349);
  display: inline-block;
  width: 100px;
  text-align: right;
}
#clickier {
  font-size: 40px;
  text-anchor: start;
  position: relative;
  top: -600px;
  right: -1200px;
  color: rgb(252, 231, 137);
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.349);
  display: inline-block;
  width: 100px;
  text-align: right;
}
