.center {
  margin-top: -20vh;
}

body {
  background: rgb(149, 143, 255);
  background: linear-gradient(
    90deg,
    rgb(255, 169, 143) 0%,
    rgb(95, 78, 255) 35%,
    rgba(255, 112, 24, 1) 100%
  );
}

.headlogo {
  width: 174vh;
  height: 2vh;
  background: rgb(255, 255, 255);
  padding: 7vh;
  margin-top: -22em;
  margin-bottom: 2em;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.lead {
  height: 50vh;
  width: 20vw;
  background: rgba(255, 255, 255, 0.2);
  padding: 50px;
  margin-top: -0em;

  margin-left: 35%;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.151);
}

.leadlogo {
  margin-top: -22em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-anchor: start;
  color: aquamarine;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.13);
  text-decoration: underline;
}
.leadlogo:hover {
  color: rgb(255, 186, 97);
}
.clickme {
  position: -webkit-sticky;
  margin-top: -35em;
  margin-left: 31%;
  align-self: center;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#clicky {
  margin-top: -6.5em;
  margin-left: 44%;
  font-size: 80px;
  text-anchor: start;
  position: relative;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.349);
  display: inline-block;
  width: 100px;
  text-align: right;
}
